/* Importar estilos base */
@import "./styles/Variables.css";
@import "./styles/Layout.css";
@import "./styles/Productos.css";
@import "./styles/Carrito.css";

body {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
  background-color: #fff9fb; /* Fondo muy claro con tono rosado */
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  color: var(--color-primary-dark);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
